@{
    ViewData["Title"] = "Contact Me";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Web App Developer"]</h3>

<h4> This is a Web App</h4>

<address>
    <strong>Support:</strong> <a href>  anoopsanu11@gmail.com  </a><br />
    
</address>
