@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 style="color:DodgerBlue;border:2px solid Tomato;"> Welcome To Movies App</h1>
    <img src="https://i.redd.it/4fxxbm4opjd31.jpg" alt="movieposter" width="1300" height="1000">
    <p> Click Here  <a href=>    https://github.com/AnoopSanu </a>to See my Github</p>
</div>